body {
    color: red;
}

@media screen and (min-width: 801px) {
    .hide--lg {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .hide--md {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .hide--sml {
        color: blue;
    }
}
